@{
    ViewData["Title"] = "Sprawdzanie plików";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <p>Wybierz pliki:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Zatwierdź" />
        </div>
    </div>
</form>