@model WebApplication1.Models.Scan

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Scan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="FilesNum" class="control-label"></label>
                <input asp-for="FilesNum" class="form-control" />
                <span asp-validation-for="FilesNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilesInf" class="control-label"></label>
                <input asp-for="FilesInf" class="form-control" />
                <span asp-validation-for="FilesInf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeRunn" class="control-label"></label>
                <input asp-for="TimeRunn" class="form-control" />
                <span asp-validation-for="TimeRunn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recognition" class="control-label"></label>
                <input asp-for="Recognition" class="form-control" />
                <span asp-validation-for="Recognition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antyvirus" class="control-label"></label>
                <input asp-for="Antyvirus" class="form-control" />
                <span asp-validation-for="Antyvirus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
